doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Zoom Clone
            h3 using WebRTC and Websockets
        main 
            div#welcome 
                form
                    input(type="text", placeholder="room name", required) 
                    button Enter room
            div#call
                div#myStream
                    div(style="display: flex; gap: 5rem")
                        video#myFace(autoplay, playsinline, width="400" height="400")
                        video#peerFace(autoplay, playsinline, width="400" height="400")
                    select#cameras
                    div(style="display: flex; gap: 2rem")
                        button#mute Mute
                        button#camera Turn Camera Off
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/app.js")